# LaTex log files
*.aux
*.log
*.fls
*.fdb_latexmk

# Python cache and venv
__pycache__/
.venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Build files
*.out
.build/
build/

# IDE
.vscode/
.cache/
.clang-format
